/*
 * Copyright (C) 2017 TypeFox and others.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
 */

.module {
    fill: #ffffff;
    stroke: #1f2424;
    stroke-width: 2;
}

.actor {
    fill: #ffffff;
    stroke: #dbb0d4;
    stroke-width: 2;
}

.module > .comp > .sprotty-label {
    font-weight: normal;
    fill: #000000;
    white-space: nowrap;
    font-size: medium;
}

.sprotty-button {
    stroke-width: 0;
}

.module .note, .module .note.mouseover {
    stroke: #000;
    stroke-width: 1;
}

.module .note.mouseover .front,
.module .note.mouseover .noteEdge {
    fill: #e2c87a;
}

body {
    background-color: #ffffff;
}

/* body {
    background-color: #5ada65;
}  */