/*
 * Copyright (C) 2017 TypeFox and others.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
 */

 .sprotty-edge {
    fill: none;
    stroke: rgb(181, 182, 221);
    stroke-width: 2px;
}

.sprotty-edge.composition {
    fill: rgb(181, 182, 221);
}



.sprotty-edge.contribution {
    fill: rgb(181, 182, 221);
}

.sprotty-edge.dashed {
    stroke-dasharray: 5 5;
}






