/*
 * Copyright (C) 2017 TypeFox and others.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
 */

.sprotty-node {
    stroke: #a17474;
    stroke-width: 1;
}

.sprotty-graph {
    font-size: 15pt;
}

.sprotty-label {
    stroke-width: 0;
    fill: rgb(255, 249, 249);
    font-size: 0.6em;
    font-weight: inherit;
    text-align: inherit;
}

.sprotty-label.heading {
    font-weight: bold;
    font-size: 0.8em;
}


.sprotty-label.description {
    font-weight: bold;
    font-size: 0.8em;
}

/* .sprotty-button {
    stroke-width: 0;
    fill: #ffffff;
} */
/* 
.sprotty-button {
    stroke-width: 0;
    fill: #bad869;
}

.sprotty-missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-size: 14pt;
    text-anchor: middle;
} */

